<header class="fixed top-0 w-full z-50 bg-deep-indigo/80 backdrop-blur-xl border-b border-white/10">
  <div class="flex justify-between items-center w-full px-8 py-4 max-w-7xl mx-auto">
    <!-- <div class="text-xl font-black tracking-tighter text-white">
      PRECISION.IO
    </div> -->
    <a href="./index.html" class="flex items-center gap-2 text-white">
      <img class="h-10" src="../assests/sneha_signed.svg" onclick="Logo" />
    </a>

    <div class="flex items-center gap-6">
      <nav
        class="hidden md:flex gap-6 items-center font-['Inter'] tracking-tighter font-bold uppercase text-sm"
      >
        <a
          class="text-primary hover:text-gray font-bold border-b-2 border-primary pb-1 transition-all"
          href="./index.html"
          >Work</a
        >
        <!-- <a class="text-primary hover:text-gray transition-colors" href="./case-study.html">About</a> -->
      </nav>
      <a
        href="./resume.html"
        class="hidden md:block bg-primary text-black font-headline font-bold px-6 py-2 rounded-full hover:shadow-highlight transition-all"
      >
        Resume
      </a>
      <!-- <button class="md:hidden text-white">
        <span class="material-symbols-outlined">menu</span>
      </button> -->
    </div>
  </div>
</header>
